:global(#root) {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.adminPageWrapper {
    width: 100%;
    margin: auto;

    .adminHeader {
        width: 100%;
        padding: 2rem;

        .logo {
            height: 6em;
        }

        .logo:hover {
            filter: drop-shadow(0 0 2em #646cffaa);
        }
    }

    .adminPageContainer {
        width: 100%;
        display: flex;
        justify-content: center;

        .content {
            width: 100%;
            max-width: 1200px;
        }

        &.adminAllFormsPage {
            .subheaderContainer {
                text-align: right;
                margin: 1rem 0;
            }
        }

        &.adminFormPage {

            .leftColumn {
                text-align: left;
            }

            .formEditor {

                .fieldEditor {
                    display: block;
                    width: 100%;
                    margin-bottom: 1rem;

                    .firstRow {
                        display: flex;
                        width: 100%;

                        .actionContainer {
                            display: flex;
                            flex-direction: row;

                            .button {
                                min-width: auto;
                            }
                        }
                    }

                    .secondRow {
                        display: flex;

                        .option {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
}

.draggable {
    cursor: grab;
}

.newFormModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    border: 2px solid #000;
    box-shadow: 24px;
    padding: 2rem;
}

.greenIcon {
    color: #0be60b;
}

.redIcon {
    color: #ff0000;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}
